{% extends 'base.html' %}
{% block content %}
{% if validlink %}
<form method="post">
    {{ csrf_token }}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">nuova password</label>
            </td>
            <td> {{ form.new_password1 }}</td>
        </tr>
        
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">conferma password</label>
            </td>
            <td> {{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>    <input type="submit" class="btn btn-success" value="cambia password" ></td></td>
        </tr>
    </table>

   
</form>

{% else %}
<h1> errore</h1>
<p> il link inviato non è più valido , provare con un n ovo link</p>
{% endif %}
{% endblock %}